<% include header.ejs %>
<h1>Edit answer</h1>

<form action="/editanswer" method="get">
    <div class="form-group">
        <textarea class="form-control" name="comment" form="answer">Enter text here...</textarea>
        <center> <input    class="form-button" type="submit"> </center>
        <div>
</form>

<% include footer.ejs %>
