<!doctype html>
<!-- Website Template by freewebsitetemplates.com -->
<html>
<head>
    <title>TODOAPP</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/yeti/bootstrap.min.css"">
    <link href="public/css/sidebar.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse bg-inverse">
    <a class="navbar-brand" href="/register">Register</a>
    <a class="navbar-brand" href="/login">Login</a>
    <a class="navbar-brand" href="/index">Questions</a>
    <a class="navbar-brand" href="/addquestions">Add Questions</a>
</nav>
<body>
<div class="jumbotron">
    <div class="container">